body {
    margin: 0;
    font-family: 'Roboto','Arial', sans-serif;
    background-color: #333;
    color: aliceblue;
}

nav {
    background-color: #6e6262;
    padding: 10px 0;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #ffd700; 
}

header {
    text-align: center;
    padding: 20px;
}

#products,
#team {
    text-align: center; 
}

#products h2,
#team h2 {
    width: 100%; 
}

/* Mission Section */
#mission {
    text-align: center;
    padding: 20px;
}

.mission-content {
    max-width: 600px;
    margin: 0 auto; 
}

#mission h2 {
    font-size: 24px; 
    margin-bottom: 10px;
}

#mission p {
    font-size: 16px; 
    line-height: 1.5; 
}

/* Flexbox for Products Section */
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 8px; /* Optional: Rounded corners for images */
}

.product-caption {
    font-weight: bold;
    margin-top: 5px;
}

/* Flexbox for Team Section */
#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%; /* Optional: Rounded corners for images */
}

.caption {
    font-weight: bold;
    margin-top: 5px;
}


